@font-face {
    font-family: "Gyparody Rg";
    src:url("fonts/gyparody rg.ttf");
}

@font-face {
    font-family: "Swiss 921 BT";
    src:url("fonts/Swiss 921 BT.ttf");
}


@font-face {
    font-family: ITC Korinna;
    src:url("fonts/ITC Korinna Regular.otf");
}


body {
    background-color: #333333;
    font-family: "Swiss 921 BT";
}

#start-overlay {
    position: fixed;
    background-color: #333333;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 96px;
    font-family: 'Swiss 921 BT';
    z-index: 10;
    visibility: visible;
}

#start-button {
    cursor: pointer;
}

#header {
    font-family: "Gyparody Rg";
    font-size: 96px;
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

#page {
    display: flex;  
    flex-direction: column;
    align-items: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    width: 1200px;
}

.game-column {
    display: grid;
    grid-template-rows: repeat(5, 120px) 75px;

    grid-row-gap: 20px;
}

.card {
    background-color: #010A78;  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
}

.category {
    margin-bottom: 10px;
    font-size: 36px;
    color: #ffffff;
}

.clue-card {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 96px;
    background-color: #010A78;  
    color: #ffffff;
    border-radius: 30px;
    padding: 50px;
    text-align: center;
    font-family: ITC Korinna;
    flex-direction: column;
    position: relative;
}

.clue-card > img {
    object-fit: contain;
    max-width: calc(80% - 50px);
    max-height: 80%;
}

.question-card {
    z-index: 10;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;  
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.question-card-visible {
    visibility: visible;
}

.clue-button {
    position: absolute;
    top: 20px;
    font-size: 32px;
    border: 1px solid black;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    text-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close-button {
    right: 20px;
}

.answer-button {
    left: 20px;
}

.button-points-text {
    text-align: center;
    width: 100%;
    height: 100%;
    color: #D69F4C;
    font-size: 96px;
    text-shadow: 6px 3px 2px rgba(0, 0, 0, 1);
    cursor: pointer;
}

.button-points-faded {
    color: rgba(214, 159, 76, 0.25);
    text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.5);
}

.button-points-last-selected {
    text-decoration: underline;
}

.score-box {
    color: white;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
    letter-spacing: 1px;
    font-family: 'ITC Korinna';
    cursor: pointer;
}

.score-points {
    display: flex;
    justify-content: space-between;
}

.score-name {
    display: flex;
    width: 100%;
    justify-content: center;
}

#avogadro {
    display: flex;
    width: 100%;
    justify-content: center;
    max-height: 50%;
    align-items: center;
    gap: 80px;
}

#avogadro > img{
    object-fit: contain;
    max-width: 40%;
    max-height: 80%;
}