@font-face {
    font-family: "Gyparody Rg";
    src:url("fonts/gyparody rg.ttf");
}

@font-face {
    font-family: "Swiss 921 BT";
    src:url("fonts/Swiss 921 BT.ttf");
}


@font-face {
    font-family: ITC Korinna;
    src:url("fonts/ITC Korinna Regular.otf");
}


body {
    background-color: #333333;
    font-family: "Swiss 921 BT";
}

#header {
    font-family: "Gyparody Rg";
    font-size: 96px;
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

#page {
    display: flex;  
    flex-direction: column;
    align-items: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 120px) 75px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 1200px;
}

.card {
    background-color: #010A78;  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
}

.category {
    margin-bottom: 10px;
    font-size: 36px;
    color: #ffffff;
}

.points-box {
    color: #D69F4C;
    font-size: 96px;
    text-shadow: 6px 3px 2px rgba(0, 0, 0, 1);
    cursor: pointer;
}

.clue-overlay {
    z-index: 1;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;  
    background-color: rgba(0, 0, 0, 0.95);
    cursor: pointer;
}

.clue-card {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 96px;
    background-color: #010A78;  
    color: #ffffff;
    border-radius: 30px;
    cursor: pointer;
    padding: 50px;
    text-align: center;
    font-family: ITC Korinna;
    flex-direction: column;
}

.clue-card > img {
    height: auto;
    max-width: calc(100% - 50px);
    object-fit: contain;
}

.question-card {
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;  
    background-color: rgba(0, 0, 0, 0.95);
    cursor: pointer;
}

.question-card-hidden {
    display: none;
}

.question-card-visible {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-points {
    width: 100%;
    height: 100%;
    display: flex;
  }

.button-points-text {
    text-align: center;
    width: 100%;
    height: 100%;
}

.button-points-text-hidden {
    display: none;
}

.button-points-text-visible {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-points-faded {
    color: rgba(214, 159, 76, 0.25);
    text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.5);
}

.score-box {
    color: white;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
    letter-spacing: 1px;
    font-family: 'ITC Korinna';
}

.score-points-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.score-points-button {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: #D69F4C;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.score-points-minus {
    margin-left: 10px;
}

.score-points-plus {
    margin-right: 10px;
}

.score-name-container {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
}

.score-name-edit {
    position: absolute;
    right: 10px;
    cursor: pointer;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }